<!DOCTYPE html>
<html lang="en" class="body">
    <div class="body" id="page">
        <div>
            <select name="projects" id="projectSelect" (change)="changeProject()">
                <option value="" disabled selected>Select the Project</option>
            </select>
            <select name="months" id="monthSelect" (change)="changeDate()">
                <option value="" disabled selected>Select the Month</option>
            </select>
            <button class="button-exportToPDF" (click)="export()">Export To PDF</button>
            <button class="button-addNew" (click)="edit()">Edit</button>
            <button class="button-save" (click)="save()">Save</button>
        </div>
        <h2 id="projectDate">Month and Year</h2>
        <div class="box"></div>
        <table id="timeTable" class="center">
        </table>
        <input type="text" id="managerSigniture"><input type="date" id="managerDate">
        <br>
        <label id="managerLabel">Manager Signiture</label><label id="dateLabel">Date</label>  
    </div>
</html>