
html {
    background-color: #FBC900;
}
body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FBC900;
    height: fit-content;
    max-width: 100%;
    overflow-x: hidden;
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;  
  }
.box-1{
    text-align: left; 
    display:flex; 
    flex-direction: column; 
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 2px solid grey;
}
.box-2{
    width: 80%;
    margin: 0 auto;
    border: 2px solid grey;
    border-top: 0px;
}
.box-2-inside {
    margin-left: 15px;
    margin-top: 15px;
}
.box-3 {
    width: 80%;
    margin: 0 auto;
    border: 2px solid grey;
    border-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}
.certificateDropdown mat-form-field {
    width: 30%;
}
p {
    text-align: left;
    font-family: 'Montserrat';
    margin-left: center;
}
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}
.longTextAreaBox {
    width: 910px;
    padding-left: 63px;
    padding-top: 30px;
}
.shortTextAreaBox {
    width: 400px; 
    padding: 10px;
    margin-right: 100px;
    padding-left: 65px;
}
.shortBasicInput {
    width: 375px; 
    padding: 10px;
    margin-right: 125px;
    padding-left: 65px;
}
.shortBasicInput-cost {
    width: 390px; 
    padding: 10px;
}
.employeeName{
    margin-right: 15px;
    width: 300px;
    padding-left: 65px;
}
.certName{
    padding: 10px;
    width: 385px;
}
.datePicker {
    width: 390px; 
    padding: 10px;
}
.datePickerSignatures{
    width: 275px; 
    padding: 30px;
    margin-left: 15px;
}
.selectorBox {
    padding-left: 65px;
}
mat-form-field {
    overflow: visible;
    padding-right: 200px;
}

.button-addNew {
    border: none;
    color: white;
    background-color: #FBC900;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: 800;
    margin-left: 20%;
    border-radius: 50px;
    position: absolute;
    left: 111ex;
    top: 19ex;
  }

.button-exportToPDF {
    border: 2px solid #FBC900;
    background-color: transparent;
    padding: 15px 32px;
    color: #FBC900;
    font-size: 16px;
    font-weight: 800;
    border-radius: 50px;
    border-radius: 50px;
    position: relative;
    margin-left: 67%;    
    top: 4ex;
    left: -5ex;
}
.button-save {
    color: white;
    border: none;
    background-color: #FBC900;
    padding: 15px 32px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 50px;
    margin-left: 1%;
    position: absolute;
    left: 159ex;
    top: 19ex;
}

.button-save:hover,.button-exportToPDF:hover, .button-addNew:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 30px rgba(0, 0, 0, 0.2);
}

mat-checkbox {
    text-align: left;
    padding-left: 65px;
}
text-area {
    width: 50%;
}
.spacer{
    flex: 1 1 auto;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    background: black;
    font-size: 30px;
    height: 10%;
    padding-right: 100px;
    max-width: 100%;
    overflow-x: hidden;
  }
  .menuIcon {
    font-size: 50px;
    padding-bottom: 30px;
    padding-right: 25px;

}
.accountIcon{
    font-size: 70px;
    padding-bottom: 40px;
    padding-right: 100px;


}
span {
    background: black;
    color: white;
}
table, th, td, tr {
    border: 1px solid black; 
    border-collapse: collapse;
    table-layout: auto;
    width: 90%;
}
th, td {
    padding: 10px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

#projectSelect{
    position: relative;
    left: 8ex;
    top: 50px;
}

#monthSelect{
    position: relative;
    left: 10ex;
    top: 50px;
}


.box{
    height: 50ex;
    width: 153.5ex;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    left: 24ex;
    top: 140px;
    z-index: -1;
    
}

.pdf-export {
    transform: scale(0.7); /* Scale down the content */
    transform-origin: top left; /* Ensure scaling happens from the top-left corner */
    width: 142.86%; /* Adjust the width to prevent clipping */
    overflow: hidden; /* Hide overflowed content */
}

#projectDate {
    margin-right: 80px;
    position: relative;
    left: 4ex;
}
