<!DOCTYPE html>
<html lang="en" class="body">
    <div class="body">
        <select name="projects" id="projects" onchange="changeProject()">
            <option value="" disabled selected>Select the Project</option>
            <option value="test">dwad</option>
        </select>
        <select name="months" id="months" onchange="changeDate()">
            <option value="" disabled selected>Select the Month</option>
            <option value="12/0/2024">December 2024</option>
        </select>
        <button class="button-exportToPDF" (click)="export()">Export To PDF</button>
        <button class="button-addNew" (click)="edit()">Edit</button>
        <button class="button-save" (click)="save()">Save</button>
        <h2 name="projectDate">Month and Year</h2>
        <table id="timeTable" class="center">
            
        </table>
    </div>
</html>